<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4LAjpeH1Fn557Xj5lkR-zwYfuWwCX5FY</string>
	<key>GCM_SENDER_ID</key>
	<string>1088424751477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetemrekemanci.Sipider-Web</string>
	<key>PROJECT_ID</key>
	<string>spider-web-901b3</string>
	<key>STORAGE_BUCKET</key>
	<string>spider-web-901b3.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088424751477:ios:eb7e0a9921e61b410e633c</string>
</dict>
</plist>